<div id="dashboard">
  <div class="row">
    <div class="col-md-3 col-xs-12 stat-column">
      <h4 class="dashboard-header">manual mileage</h4>
      <h2><%= format_distance(manual) %></h2>
    </div> <div class="col-md-3 col-xs-12 stat-column">
      <h4 class="dashboard-header">driven mileage</h4>
      <h2><%= format_distance(driven) %></h2>
    </div>
    <div class="col-md-3 col-xs-12 stat-column">
      <h4 class="dashboard-header">variance</h4>
      <h2><%= format_distance(variance) %></h2>
    </div>
    <div class="col-md-3 col-xs-12 stat-column">
      <h4 class="dashboard-header">total miles</h4>
      <h2 id="total-miles"><%= link_to format_distance(totals), logs_path %></h2>
    </div>
  </div>
</div>
