<div class="row">
  <div class="col-lg-12">
    <div class="quick-stats-header">
      <hr>
        <h3>Dashboard</h3>
        <p class="smaller-text">Quick Stats</p>
      <hr>
    </div>
  </div>
</div>

<%= render partial: 'dashboard', locals: { totals: current_user.total_miles, manual: current_user.total_specific_miles(1), driven: current_user.total_specific_miles(0), variance: current_user.miles_variance } %>
<hr>
